
* {
	box-sizing: border-box;
}

@page {
	@bottom-right {
		content: counter(page) " of " counter(pages);
	}
}

html, body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 2em auto;
	max-width: 700px;
}

.document-info {
	font-size: small;
	font-family: Droid Sans, sans-serif;
}

footer.document-info {
	display: flex;
	justify-content: space-between;
	padding: 2em 0;
	color: #696969;
}

header.document-info {
	float: right;
	text-align: right;
	position: absolute;
	right: 4em;
}

h1 {
	text-align: center;
}

h1, h2 {
	font-family: Droid Serif, serif;
	break-after: avoid-page;
}

h2 {
	font-size: 1.3rem;
	margin-bottom: 0.5em;
}

html, body, .container, section {
	float: none;
}

@media print {
	h1 {
		margin-top: 0;
	}

	.container {
		margin-top: 0;
		margin-bottom: 0;
	}
}

section {
	page-break-inside: avoid;
}

.schema {
	color: #000;
	text-shadow: 0 1px white;
	text-align: left;
	white-space: normal;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	page-break-inside: avoid;
	break-before: avoid-page;
	background: rgb(245, 242, 240);
	padding: 0.5em;
	overflow: auto;
}

.relation {
	display: block;
	line-height: 1.6;
	font-family: Roboto, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
	font-size: 15px;
}

.relation-name {
	color: rgb(154, 110, 58);
	background: rgba(255, 255, 255, 0.5);}

.relation-fk {
	color: rgb(0, 119, 170); /* #224C98; */
}

.relation-sep {
	color: #696969;
}

.relation-open–tuple,
.relation-close–tuple {
	color: #888;
	padding: 0 1px;
}

.relation-pk .relation-attribute {
	text-decoration: underline;
}
